<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Money Puck</title>
        <meta charset="utf-8">
        <meta name="description" content="NHL Charting">
        <link rel="Shortcut Icon" type="image/ico" href="{{STATIC_URL}}img/favicon.png">
        <link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{STATIC_URL}}css/queries/netbooks-tablets.css" type="text/css" media="screen and (max-width: 1007px)" />
            
        <script type="text/javascript" src="{{STATIC_URL}}js/html5.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}highcharts/js/highcharts.js"></script>
        <script src="{{STATIC_URL}}amcharts/amcharts.js" type="text/javascript"></script>

        <script type="text/javascript">
            var chart;
            var chartData = [];

            chartData = {{ df|safe }}
            var chartCursor;

            AmCharts.ready(function () {
                // generate some data first
                //generateChartData();

                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.pathToImages = "{{STATIC_URL}}amcharts/images/";
                chart.zoomOutButton = {
                    backgroundColor: '#000000',
                    backgroundAlpha: 0.15
                };
                chart.dataProvider = chartData;
                chart.categoryField = "date";
                chart.balloon.bulletSize = 5;

                // listen for "dataUpdated" event (fired when chart is rendered) and call zoomChart method when it happens
                chart.addListener("dataUpdated", zoomChart);

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
                categoryAxis.minPeriod = "DD"; // our data is daily, so we set minPeriod to DD
                categoryAxis.dashLength = 1;
                categoryAxis.gridAlpha = 0.15;
                categoryAxis.position = "top";
                categoryAxis.axisColor = "#DADADA";

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.axisAlpha = 0;
                valueAxis.dashLength = 1;
                chart.addValueAxis(valueAxis);

                // GRAPH
                {% for k in df.0.keys %}
                {% ifnotequal k "date" %}
                    var graph1 = new AmCharts.AmGraph();
                    graph1.title = "{{ k }} ";
                    graph1.valueField = "{{ k }}";
                    graph1.bullet = "round";
                    graph1.bulletBorderColor = "#FFFFFF";
                    graph1.bulletBorderThickness = 2;
                    graph1.lineThickness = 2;
                    graph1.lineColor = "#5fb503";
                    graph1.negativeLineColor = "#efcc26";
                    graph1.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
                    chart.addGraph(graph1);
                {% endifnotequal %}
                {% endfor %}

                // CURSOR
                chartCursor = new AmCharts.ChartCursor();
                chartCursor.cursorPosition = "mouse";
                chartCursor.pan = true; // set it to fals if you want the cursor to work in "select" mode
                chart.addChartCursor(chartCursor);

                // SCROLLBAR
                var chartScrollbar = new AmCharts.ChartScrollbar();
                chart.addChartScrollbar(chartScrollbar);

                // WRITE
                chart.write("chartdiv");
            });

            // generate some random data, quite different range
            function generateChartData() {
                var firstDate = new Date();
                firstDate.setDate(firstDate.getDate() - 500);

                for (var i = 0; i < 500; i++) {
                    var newDate = new Date(firstDate);
                    newDate.setDate(newDate.getDate() + i);

                    var visits = Math.round(Math.random() * 40) - 20;

                    chartData.push({
                        date: newDate,
                        visits: visits
                    });
                }
            }

            // this method is called when chart is first inited as we listen for "dataUpdated" event
            function zoomChart() {
                // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
                chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
            }

            // changes cursor mode from pan to select
            function setPanSelect() {
                if (document.getElementById("rb1").checked) {
                    chartCursor.pan = false;
                    chartCursor.zoomable = true;
                } else {
                    chartCursor.pan = true;
                }
                chart.validateNow();
            }

        </script>

        <!--[if IE 7]><link rel="stylesheet" href="{{STATIC_URL}}css/ie/ie7.css" type="text/css" media="screen"><![endif]-->
        <!--[if lt IE 7]><link rel="stylesheet" href="{{STATIC_URL}}css/ie/ie6.css" type="text/css" media="screen"><![endif]-->

        <script type="text/javascript">

            var chart1; // globally available

            $(document).ready(function(){
                chart1 = new Highcharts.Chart({
                    chart: {
                        renderTo: 'plus_minus_chart',
                        type: 'line'
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime',

                    },
                    legend: {
                        enabled: false
                    },
                    yAxis: {
                        min: 0,
                                title: {
                            text: 'Season Plus Minus'
                        },
                        labels: {
                            formatter: function() {
                                return Highcharts.numberFormat(this.value, 0);
                            }
                        }
                    },
                    tooltip: {
                        formatter: function() {
                            return '<b>' + Highcharts.dateFormat('%e. %b', this.x) + ': </b><br/>' + this.y
                        }
                    },
                    series: [
                        {
                            name: "{'s Plus Minus",
                            data: [
                                {% for date, value in data.iteritems %}
                                    [Date.UTC({{date.year}}, {{date.month}}, {{date.day}}), {{value}}],
                                {% endfor %}
                            ]
                        }
                    ]
                });

            });  // End $(document).ready

        </script>

    </head>
    <body>
        <div id="wrap">
            <header>
                <div class="inside">
                    <h2><span>{{player}}'s Plus Minus Trend</span></h2> <!-- This line for @font-face presentational purposes only -->
                    <nav>
                    </nav>
                </div>
            </header>
            <article>
                <section>
                    <div class="inside">

                        <div id="plus_minus_chart" style="width: 100%; height: 400px"></div>
                    </div>
                </section>  
            </article>
            <aside>
                <div class="inside">
                </div>
            </aside>
        </div>
        <div id="chartdiv" style="width: 100%; height: 400px;"></div>
        <div style="margin-left:35px;">
            <input type="radio" name="group" id="rb1" onclick="setPanSelect()">Select
            <input type="radio" checked="true" name="group" id="rb2" onclick="setPanSelect()">Pan
        </div>
        <footer>
            <div class="inside">
            </div>
        </footer>        
        <script type="text/javascript" src="js/custom.js"></script>
    </body>
</html>
